
<h1 class="welcome">Welcome to Image finder </h1>
<p class= "select">Select a colour to start an image search</p>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row margin-bottom-10">

        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-grey">
                <h2 class="heading-md">Grey Box</h2>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-yellow">
                <h2 class="heading-md">Yellow Box</h2>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-dark-blue">
                <h2 class="heading-md">Dark Blue Box</h2>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-10">
        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-purple">
                <h2 class="heading-md">Purple Box</h2>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block rounded servive-block-aqua">
                <h2 class="heading-md">Aqua Box</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="servive-block servive-block-purple">
              <h2 class="heading-md">Purple Box</h2>
          </div>
        </div>

    </div>
    <div class="row margin-bottom-10">
        <div class="col-md-4 col-sm-6">
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-purple">
                <h2 class="heading-md">Purple Box</h2>
            </div>
        </div>
    </div>
</div>
